<h1>Import</h1>
Your import string should look like
<pre>
{"payload":{"rooms": ... }}
</pre>
<% if config.anon_create != "false" || logged %>
<form action="/import" method="post">
<textarea name="meat" rows="10" class="wide"></textarea><br>
<input type="submit" name="submit" value="Import">
</form>
<% end %>
