<html>
<head>
<script src="/js/site.js"></script>
<link rel="stylesheet" href="/css/site.css"/>
</head>
<body>
<div class="menu"><%= render "views/menu.ecr" %></div>
<div class="meat"><%= content %></div>
</body>
</html>
