<a href="/">Home</a>
<a href="/help">Help</a>
<a href="https://github.com/mose/anyquestion">Source</a>
<% if logged %>
<a href="/clean">Clean</a>
<a href="/export">Export</a>
<a href="/import">Import</a>
<% if config.autologged == "false" %>
<a href="/logout">Out</a>
<% end %>
<% elsif config.autologged == "false" %>
<a href="/login" class="login">In</a>
<% end %>
