<html>
<head>
<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.min.js"></script>
<script src="/js/site.js"></script>
<link rel="stylesheet" href="/css/site.css"/>
</head>
<body>
<div class="menu"><%= render "views/menu.ecr" %></div>
<main id="room"></main>
<script src="/js/room.js"></script>
</body>
</html>
