<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.min.js"></script>
<script src="/js/site.js"></script>
<link rel="stylesheet" href="/css/site.css"/>
</head>
<body>
<div id="menu"><%= render "views/menu.ecr" %></div>
<div id="meat">
<h1><%= room.name %></h1>
<main id="room"></main>
</div>
<script src="/js/room.js"></script>
</body>
</html>
