body {
  background-color: #222;
  color: #ddd;
  font-family: sans serif;
}
a {
  color: #adf;
  text-decoration: none;
}
h1 {
  margin: 0;
}
.smaller {
  font-size: .8em;
}
.newroom {
  margin-top: 10px;
}
#menu {
  padding: 20px;
}
#menu a {
  padding: 5px 10px;
  color: #000;
  background-color: #666;
}
#menu a:hover {
  color: #fff;
  background-color: #000;
}
#menu a.login {
  background-color: #222;
  color: #222;
  float: right;
}
#menu a.login:hover {
  background-color: #111;
  color: #444;
}
#meat {
  padding: 10px 30px;
}
.registry span {
  font-family: monospace;
}
.questions {
  margin-top: 10px;
}
.questions input, .question button {
  padding: 2px 5px;
  font-size: 2em;
  width: 100%;
}
.questions ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.questions ul li {
  margin: 20px 0;
}
.questions ul li .voted {
  padding: 15px 20px;
  background-color: #222;
  border: 1px solid #111;
  cursor: pointer;
}
.questions ul li .voted:hover:after {
  content: '--';
  margin-left: 10px;
  font-family: monospace;
}
.questions ul li .votable {
  padding: 15px 20px;
  background-color: #444;
  border: 1px solid #111;
  cursor: pointer;
}
.questions ul li .votable:hover:after {
  content: '++';
  margin-left: 10px;
  font-family: monospace;
}
.questions ul li .q {
  padding: 15px 20px;
  background-color: #111;
  line-height: 3em;
  border: 1px solid #111;
}
.question {
  margin-left: 60px;
}
.newroom textarea {
  width: 100%;
}
